package main

templ AdminRootPage(data *CommonData) {
	@Layout(data) {
        <h1>{data.User.Language.AdminRoot}</h1>
        <div class="card b-card">
            <ul>
                <li>@NavbarPageLink(data.User.Language.AdminManageSpecies, "/species")</li>
                <li>@NavbarPageLink(data.User.Language.AdminManageTags, "/tag")</li>
                <li>@NavbarPageLink(data.User.Language.AdminManageHomes, "/homes")</li>
            </ul>
        </div>
    }
}
