package main

import (
    "github.com/jonathangjertsen/bino/ln"
)

templ AdminRootPage(data *CommonData) {
	@Layout(data) {
        <h1>{data.Ln(ln.AdminRoot)}</h1>
        <div class="card b-card">
            <ul>
                <li>@NavbarPageLink(data.Ln(ln.ManageSpecies), "/species")</li>
                <li>@NavbarPageLink(data.Ln(ln.ManageTags), "/tag")</li>
                <li>@NavbarPageLink(data.Ln(ln.ManageHomes), "/homes")</li>
            </ul>
        </div>
    }
}
