package main

templ ErrorPage(data *CommonData, err error) {
	@Layout(data) {
        <div class="card b-card">
            <h1>{data.User.Language.ErrorPageHead}</h1>
            <p>{data.User.Language.ErrorPageInstructions}</p>
            <pre>{err.Error()}</pre>
        </div>
    }
}
