$primary: rgb(108, 74, 161);
$accent: rgb(0, 140, 95);
$body: rgb(210, 212, 225);
$light: rgb(238, 239, 245);
$dark: rgb(60, 60, 80);
$text: rgb(245, 245, 250);
$warning: rgb(235, 140, 75);
$midgray: mix($dark, $light, 25);
$slightdark: mix($dark, $midgray, 50);
$lightprimary: mix($primary, $light, 15);
$lightaccent: mix($accent, $light, 15);
$lightwarning: mix($warning, $light, 45);
$lighterror: mix(red, $light, 45);

$mobilethreshold: 1000px;

$dashboard-home-column: 350px;

@use "node_modules/bootstrap/scss/bootstrap" with (
    $enable-shadows: true,
    $enable-rounded: false,
    $primary: $primary,
    $warning: $warning
);

a {
    color: $accent;
    user-select: default !important;
    touch-action: default !important;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.dashboard-patient-card {
    user-select: default !important;
    touch-action: default !important;
    cursor: pointer;
}

.pending-deletion {
  opacity: 0.5;
  background-color: mix($warning, $light, 75);
  transition: opacity 0.3s, background-color 0.3s;
}

html, body {
    height: 100%;
    margin: 0;
}

:root {
    --bs-body-font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $body;
    color: $text;
}

.nav-profile-picture {
    height: 2.5em;
    border-radius: 50%;
}

.dashboard-head-profile {
    height: 1.5em;
    width: 1.5em;
    background: $accent;
    color: $light;
    margin-left: 0.25em;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.center {
    text-align: center;
}

.navbar-collapse.show {
    @media (min-width: $mobilethreshold) {
        display: flex;
    }
    @media (max-width: $mobilethreshold) {
        display: grid !important;
    }
}

#language-select {
    width: 5em;
}

.dashboard {
    min-width: min(100%, $dashboard-home-column * 2);
    @media (min-width: $mobilethreshold) {
        display: flex;
        user-select: none;
        touch-action: none;
        cursor: grab;
        :active {
            cursor: grabbing;
        }
        overflow: hidden;
    }
    @media (max-width: $mobilethreshold) {
        display: block;
    }
    border: 1px solid $slightdark;
    margin-bottom: 1rem;
}

.dashboard.dashboard-self {
    min-width: min(100%, $dashboard-home-column);
    margin-right: 0.5rem;
}

.break-on-mobile {
    display: none;
    @media (min-width: $mobilethreshold) {
        display: flex;
    }
    @media (max-width: $mobilethreshold) {
        display: block;
    }
}

.b-container.dashboard-container {
    cursor: grab;
    :active {
        cursor: grabbing;
    }
    @media (min-width: $mobilethreshold) {
        display: flex;
    }
    @media (max-width: $mobilethreshold) {
        display: block;
    }
    max-width: 96%;
}

.former-patients-container {
    display: flex;
    max-width: 96%;
}

.main {
    flex: 1;
}

.brand-color {
    color: $text;
}

.brand {
    transition: color 0.5s ease;
    color: $text;
    text-decoration: none !important;
    font-size: x-large;
    font-weight: 100;
    font-family: 'Hammersmith One';
}

.brand-badge {
    padding: 0.2rem 0.85rem 0 0.70rem;
}

.mascot-container {
    min-height: 125px;
    justify-content: center;
    display: flex;
    @media (max-width: $mobilethreshold) {
        display: none;
    }
    flex-grow: 1;
}

.mascot {
    height: 100px;
    border-radius: 50%;
    align-self: center;
    border: 5px solid $light;
}

.display-name {
    font-weight: bold
}

.collapsing, .navbar-toggler, .navbar-collapse {
    -webkit-transition: none !important;
    transition: none !important;
}

.navbar-toggler {
    background-color: $light;
}

.navbar-collapse {
    display: flex;
    justify-content: right;
}

.b-navbar-item {
    text-decoration: none;
    padding: 0.5em;
}

.b-navbar-item-text {
    background-color: mix($dark, black, 75);
    border-radius: 0.5em;
    @media (min-width: $mobilethreshold) {
        margin-right: 0.5em;
    }
    @media (max-width: $mobilethreshold) {
        margin-top: 0.5em;        
    }
}

.patient-table {
    margin-bottom: 0;
}

.logged-in-as {
    margin-right: 1em;
}

.b-app {
    width: 100%;
}

.b-container {
    max-width: $mobilethreshold;
    margin: auto;
}

.b-new-patient {
    width: 100%;
    margin: 1em;
}

.checkbox {
    padding: 0.1rem 0.5rem;
    border: 0.2rem solid $accent;
    background-color: mix($accent, $midgray, 75);
    margin: 0.5rem;
    color: black;
}

.checkbox:hover {
    background-color: $accent;
}

.checkbox[data-hidden="true"] {
    display: none;
}

nav {
    background-color: $dark;
    padding: 0.5em !important;
    margin-bottom: 1em;
    a {
        color: $text;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    color: $dark;
}

.b-card > h1, .b-card > h2, .b-card > h3, .b-card > h4, .b-card > h5, .b-card > h6 {
    margin-left: 0;
}

.b-card {
    padding: 1em !important;
    margin-bottom: 0.5em !important;
    background-color: $light;
}

.dashboard-home {
    background-color: $light;

    @media (min-width: $mobilethreshold) {    
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
    @media (max-width: $mobilethreshold) {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

.dashboard-home:last-of-type {
    margin-right: 0 !important;
    @media (max-width: $mobilethreshold) {
        margin-bottom: 0 !important;
    }
}

.home-note {
    margin: 0rem;
    margin-bottom: 0.5rem;
}

.home-note:last-of-type {
    margin-bottom: 0;
}

.card-header {
    background-color: $midgray;
    color: $light;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
}

.dashboard-patient-list {
    height: 100%;
}

.drop-target {
  background-color: rgba(59, 130, 246, 0.1);
  box-shadow: inset 0 0 10px rgba(59, 130, 246, 0.5);
}

.dashboard-patient-card {
    padding: 0 !important;
}

.dashboard-form {
    min-width: min(100%, 450px);
    background-color: $midgray;
    cursor: default;
    :active {
        cursor: default !important;
    }
    border: 1px solid $slightdark;
    flex: 1;  
    align-self: flex-start;  
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 1rem !important;
}

.dashboard-left-sidebar {
    min-width: min(100%, 450px);
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
    flex: 1;  
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    @media (min-width: $mobilethreshold) {
        height: 100%;
    }
}

.former-patients-search-container {
    min-width: min(100%, 150px);
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
    flex: 1;  
    align-self: flex-start;  
}

.dashboard-filter {
    background-color: rgb(193.5, 194.25, 203.75);
    border: 1px solid $slightdark;
    margin: 0 !important;
}

.dashboard-search {
    background-color: rgb(193.5, 194.25, 203.75);
    border: 1px solid $slightdark;
}

.active-search {
    border: 2px solid $warning !important;
}

.dashboard-home {
    min-width: min(100%, $dashboard-home-column);
}

.b-create-patient {
    width: 100% !important;
    margin-top: 0.5em !important;
}

.select-user {
    min-width: 25%;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $dark;
    a {
        color: $text;
    }
}

.form-inline {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

label {
    user-select: none;
}

input[data-field="latin"] {
    font-style: italic;
}

.patient-species-header {
    font-weight: normal;
    margin-right: 1em;
    color: $dark;
}

.card-header-patient {
    background-color: $lightprimary;
}

.patient-page {
    width: 800px;
    max-width: 98%;
}

.editable {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.editable::after {
    content: '✏️';
    transform: scaleX(-1);
    margin-left: 0.5em;
    font-size: 0.75em;
    opacity: 0.8;
}

pre {
    white-space:pre-line;
}

#reload-google-folders {
    margin: 0 auto 1rem;
}

.gdrive-doc-select[selected]{
    background-color: $lightaccent;
}

.feedback-list {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 0;
    .feedback-item {
        margin-bottom: 0.5rem;
    }
    .feedback-item:last-child {
        margin-bottom: 0;
    }
}

.b-card.feedback-info {
    background-color: $midgray;
}

.b-card.feedback-success {
    background-color: $lightaccent;
}

.b-card.feedback-warning {
    background-color: $lightwarning;
}

.b-card.feedback-error {
    background-color: $lightwarning;
}

.feedback-item.feedback-info::before {
    content: 'ℹ️';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-item.feedback-success::before {
    content: '✅';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-item.feedback-warning::before {
    content: '⚠️';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-item.feedback-error::before {
    content: '❌';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-container {
    position: relative;
    padding-right: 4em !important;
    .closer {
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
    }
}

#filter-none {
    color: $dark;
    margin: auto;
}

.td-displayname {
    max-width: 15em;
}

.td-email {
    max-width: 15em;
}

.short-label {
    width: 5em;
}

legend {
    font-weight: bold;
    font-size: 1rem;
}

#calendar {
    @media (min-width: $mobilethreshold) {
        min-width: $mobilethreshold * 0.95;
    }
}

.fc-daygrid-dot-event {
    white-space: initial !important;
    align-items: start;
}

.fc-daygrid-event-dot {
    display: none;
}

.fc-toolbar-title {
    text-transform: capitalize;
}

mark.hl {
  background: linear-gradient(148deg, #fff59d 0%, #fce168 100%);
  padding: 0 2px;
  border-radius: 3px;
  border: 1px solid black;
  font-weight: 500;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.match-header {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.matches {
  .fragment {
    position: relative;

    &::after {
      content: "·";
      display: block;
      text-align: center;
      color: black;
    }

    &:last-of-type::after {
      content: none;
    }

    pre {
      margin: 0.25rem 0;
      white-space: pre-wrap;
      font-family: inherit;
    }
  }
}