$primary: rgb(108, 74, 161);
$accent: rgb(0, 140, 95);
$body: rgb(210, 212, 225);
$light: rgb(238, 239, 245);
$dark: rgb(60, 60, 80);
$text: rgb(245, 245, 250);
$warning: rgb(235, 140, 75);
$midgray: mix($dark, $light, 25);
$slightdark: mix($dark, $midgray, 50);
$lightprimary: mix($primary, $light, 15);
$lightaccent: mix($accent, $light, 15);
$lightwarning: mix($warning, $light, 45);
$lighterror: mix(red, $light, 45);

$mobilethreshold: 1000px;

@use "node_modules/bootstrap/scss/bootstrap" with (
    $enable-shadows: true,
    $enable-rounded: false,
    $primary: $primary,
    $warning: $warning
);

a {
    color: $accent;
    user-select: default !important;
    touch-action: default !important;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.dashboard-patient-card {
    user-select: default !important;
    touch-action: default !important;
    cursor: pointer;
}
.pending-deletion {
  opacity: 0.5;
  background-color: mix($warning, $light, 75);
  transition: opacity 0.3s, background-color 0.3s;
}

html, body {
    height: 100%;
    margin: 0;
}

:root {
    --bs-body-font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $body;
    color: $text;
}

.nav-profile-picture {
    height: 2.5em;
    border-radius: 50%;
}

.dashboard-head-profile {
    height: 1.5em;
    width: 1.5em;
    background: $accent;
    color: $light;
    margin-left: 0.25em;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.center {
    text-align: center;
}

.navbar-collapse.show {
    @media (min-width: $mobilethreshold) {
        display: flex;
    }
    @media (max-width: $mobilethreshold) {
        display: grid !important;
    }
}

#language-select {
    width: 5em;
}

.dashboard {
    @media (min-width: $mobilethreshold) {
        display: flex;
        user-select: none;
        touch-action: none;
        cursor: grab;
        :active {
            cursor: grabbing;
        }
        overflow: hidden;
    }
    @media (max-width: $mobilethreshold) {
        display: block;
    }
    border: 1px solid $slightdark;
    margin-bottom: 1rem;
}

.break-on-mobile {
    display: none;
    @media (min-width: $mobilethreshold) {
        display: flex;
    }
    @media (max-width: $mobilethreshold) {
        display: block;
    }
}

.b-container.dashboard-container {
    cursor: grab;
    :active {
        cursor: grabbing;
    }
    @media (min-width: $mobilethreshold) {
        display: flex;
    }
    @media (max-width: $mobilethreshold) {
        display: block;
    }
    max-width: 96%;
}


.main {
    flex: 1;
}

.brand-color {
    color: $text;
    background: $accent;
    background: linear-gradient(160deg, mix($accent, $dark, 80) 0%, mix($primary, $dark, 50) 100%);
    background-size: 200% 200%;
    transition: background-position 0.5s ease;
}

.brand-color:hover {
  background-position: 100% 0;
  .brand {
    color: mix($accent, $text, 50);
  }
}

.brand {
    transition: color 0.5s ease;
    color: $text;
    text-decoration: none !important;
    font-size: x-large;
    font-weight: 100;
    font-family: 'Hammersmith One';
}

.brand-badge {
    border: 2px solid mix($dark, $accent, 50);
    padding: 0.2rem 0.85rem 0 0.70rem;
    border-radius: 2rem;
}


.display-name {
    font-weight: bold
}

.collapsing, .navbar-toggler, .navbar-collapse {
    -webkit-transition: none !important;
    transition: none !important;
}

.navbar-toggler {
    background-color: $light;
}

.navbar-collapse {
    display: flex;
    justify-content: right;
}

.b-navbar-item {
    margin: 0.5em;
    text-decoration: none;
}

.patient-table {
    margin-bottom: 0;
}

.logged-in-as {
    margin-right: 1em;
}

.b-app {
    width: 100%;
}

.b-container {
    max-width: $mobilethreshold;
    margin: auto;
}

.b-new-patient {
    width: 100%;
    margin: 1em;
}

.checkbox {
    padding: 0.1rem 0.5rem;
    border: 0.2rem solid $accent;
    background-color: mix($accent, $midgray, 75);
    margin: 0.5rem;
    color: black;
}

.checkbox:hover {
    background-color: $accent;
}

.checkbox[data-hidden="true"] {
    display: none;
}

nav {
    background-color: $dark;
    padding: 0.5em !important;
    margin-bottom: 1em;
    a {
        color: $text;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    color: $dark;
}

.b-card > h1, .b-card > h2, .b-card > h3, .b-card > h4, .b-card > h5, .b-card > h6 {
    margin-left: 0;
}

.b-card {
    padding: 1em !important;
    margin-bottom: 0.5em !important;
    background-color: $light;
}

.dashboard-home {
    background-color: $light;

    @media (min-width: $mobilethreshold) {    
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
    @media (max-width: $mobilethreshold) {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

.dashboard-home:last-of-type {
    margin-right: 0 !important;
    @media (max-width: $mobilethreshold) {
        margin-bottom: 0 !important;
    }
}

.card-header {
    background-color: $midgray;
    color: $light;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
}

.dashboard-patient-card {
    padding: 0 !important;
}

.dashboard-form {
    min-width: min(100%, 450px);
    background-color: $midgray;
    cursor: default;
    :active {
        cursor: default !important;
    }
    border: 1px solid $slightdark;
    flex: 1;  
    align-self: flex-start;  
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 1rem !important;
}

.dashboard-left-sidebar {
    min-width: min(100%, 450px);
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
    flex: 1;  
    align-self: flex-start;  
}

.dashboard-search {
    border: 1px solid $slightdark;
    margin: 0 !important;
}

.dashboard-home {
    min-width: min(100%, 350px);
}

.b-create-patient {
    width: 100% !important;
    margin-top: 0.5em !important;
}

.select-user {
    min-width: 25%;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $dark;
    a {
        color: $text;
    }
}

.form-inline {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

label {
    user-select: none;
}

input[data-field="latin"] {
    font-style: italic;
}

.expander {
    border-radius: 1em;
}

.patient-species-header {
    font-weight: normal;
    margin-right: 1em;
    color: $dark;
}

.card-header-patient {
    background-color: $lightprimary;
}

.patient-page {
    width: 800px;
    max-width: 98%;
}

.editable {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.editable::after {
    content: '✏️';
    transform: scaleX(-1);
    margin-left: 0.5em;
    font-size: 0.75em;
    opacity: 0.8;
}

pre {
    white-space:pre-line;
}

#reload-google-folders {
    margin: 0 auto 1rem;
}

.gdrive-doc-select[selected]{
    background-color: $lightaccent;
}

.feedback-list {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 0;
    .feedback-item {
        margin-bottom: 0.5rem;
    }
    .feedback-item:last-child {
        margin-bottom: 0;
    }
}

.b-card.feedback-info {
    background-color: $midgray;
}

.b-card.feedback-success {
    background-color: $lightaccent;
}

.b-card.feedback-warning {
    background-color: $lightwarning;
}

.b-card.feedback-error {
    background-color: $lightwarning;
}

.feedback-item.feedback-info::before {
    content: 'ℹ️';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-item.feedback-success::before {
    content: '✅';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-item.feedback-warning::before {
    content: '⚠️';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-item.feedback-error::before {
    content: '❌';
    margin-right: 0.5em;
    font-size: 1em;
}

.feedback-container {
    position: relative;
    padding-right: 4em !important;
    .closer {
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
    }
}