
@use "node_modules/bootstrap/scss/bootstrap" with (
    $enable-shadows: true,
    $enable-rounded: false,
);

$body: #8894a2;
$light: mix($body, white, 33);
$dark: #2b2f3a;
$text: white;

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $body;
    color: $text;
}

.main {
    flex: 1;
}

.brand {
    color: $text;
    text-decoration: none;
    font-size: large;
}

.display-name {
    font-weight: bold
}

.collapsing, .navbar-toggler, .navbar-collapse {
    -webkit-transition: none !important;
    transition: none !important;
}

.navbar-toggler {
    background-color: $light;
}

.navbar-collapse {
    display: flex;
    justify-content: right;
}

.b-navbar-item {
    margin: 0.5em;
    text-decoration: none;
}

.logged-in-as {
    margin-right: 1em;
}

.b-app {
    width: 100%;
}

.b-container {
    max-width: 1000px;
    margin: auto;
}

.b-new-patient {
    width: 100%;
    margin: 1em;
}

nav {
    background-color: $dark;
    padding: 0.5em !important;
    margin-bottom: 1em;
    a {
        color: $text;
    }
}

h1 {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.b-card {
    padding: 1em !important;
    margin-bottom: 0.5em !important;
    background-color: $light;
}

.b-create-patient {
    width: 100% !important;
    margin-top: 0.5em !important;
}

.select-user {
    min-width: 25%;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $dark;
    a {
        color: $text;
    }
}


.form-inline {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
