package views

import (
    "github.com/jonathangjertsen/bino/ln"
)

type EventLangs struct {
    ID int32
    Names
}

templ EventPage(data *CommonData, events []EventLangs) {
    @CRUDPage{
        Header: ln.ManageEvents,
    }.Component(data) {
        for _, event := range events {
            @UpdateRow(data, event.ID, event) {}
        }
        @CreateRow(data) {}
    }
    <script src="/static/eventadmin.js"></script>
}
