package main

templ NotFoundPage(data *CommonData, msg string, referer string) {
	@Layout(data) {
        <a href={referer}>{data.User.Language.GenericGoBack}</a>
        <h1>{data.User.Language.NotFoundPageHead}</h1>
        <div class="card b-card">
            <p>{data.User.Language.NotFoundPageInstructions}</p>
            <pre>
                {msg}
            </pre>
        </div>
    }
}
